{% extends 'base.html' %}
{% block title %}Activity Log{% endblock %}

{% block body %}
<div class="container" id="mountains">
<div class="row">
    <div class="col-4">
    <div class="card" style="background-color: transparent; border: none;">
      <div class="card-body p-2">
        <h2>Let's Log Your Hikes!</h2>
        <form id="trailnotesform">
          <div class="row mb-1">
            <label for="trailnotes" class="col-sm-5.5 col-form-label">Enter Trail Notes:</label>
            <div class="col-lg-10">
              <input type="text" name="notes" id="trailnotes" style="width: 88%;"/>
            </div>
          </div>
          <div class="row mb-1">
        <label for="milesInput" class="col-sm-5.5 col-form-label">Enter Miles hiked for your log!:</label>
        <div class="col-sm-6">
          <input type="number" name="miles" id="milesInput" step="1" min="0" />
        </div>
      </div>
      <div class="row mb-1">
        <label for="hoursInput" class="col-sm-5.5 col-form-label">Enter hiking hours completed:</label>
        <div class="col-sm-6">
          <input type="number" name="hours" id="hoursInput" step="0.1" min="0" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
    </div>
    </div>
    </div>
    </div>


<script>
     document.querySelector('#trailnotesform').addEventListener('submit', (evt) => {
     evt.preventDefault(); 
     

     const formInputs = {
          notes: document.querySelector('#trailnotes').value,
          miles: document.querySelector('#milesInput').value,
          hours: document.querySelector('#hoursInput').value,
          };

        console.log(formInputs);

     fetch("/trail_notes", {
          method: 'POST',
          body: JSON.stringify(formInputs),
          headers: {
               'Content-Type': 'application/json'
          }
     })
     .then(response => response.json())
     .then(data => {
       
          console.log('Success:', data.message)
     })
     .catch((error) => {
          console.error('Error;', error);
     });
     });
  
</script>


     
     <!-- Total elevation hiked -->


<!-- futures!!! -->
 <!-- skyscraper comparison -->
  <!-- pin map of all hikes -->

</div>
</div>
{% endblock %}