{% extends 'base.html' %}
{% block title %}Hiking Buddy{% endblock %}



{% block body %}
<head>
  <img id="homepage background.jpeg" src="/static/css/homepage-background.jpeg">
</head>
<h1>Welcome To Hiking Buddy!</h1>

<h2>Prepare For Your Hiking Fitness Journey!</h2>
<ul>
    <li><a href="/trails">View all trails</a></li>
  </ul>
<h2>Let's Create an Account!</h2>
  <form action="/register" method="POST">
    <p>
      Name <input type="text" name="name">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}