{% extends 'base.html' %}
{% block title %}Trail List{% endblock %}

{% block body %}
<h1>Trails List</h1>

<form action="/search-trails" method="GET">
  <label for="search">Search by Trail Name:</label>
  <input type="text" id="search" name="query">
  <button type="submit">Search</button>
</form>
<ul>
    
    {% for state in state_list: %}
      {% if state in states_trails %}
      <h1>{{ state }}</h1>
      {% for trail in states_trails[state] %}
      <li>
        <a href="/trails/{{ trail.trail_id }}">
          {{ trail.trail_name }}
        </a>
      </li>
      {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>


{% endblock %}
