{% extends 'base.html' %}

{% block title %}{{ trail.trail_name }} - Details{% endblock %}

{% block body %}
<h3>Make Summit Goal</h3>
<form action="/choose_summit", method="POST">
  <input type="checkbox" name="summit_goal">{{ trail.trail_name }}
  <input type="text" value="{{ trail.trail_id }}" name="trail_id" hidden><br>
  <input type="submit"> 
</form>

<h2>{{ trail.trail_name }}</h2>
<p>
  City: {{ trail.city_name }} <br>
  State: {{ trail.state_name }}  <br>
  Location: Lat:{{ trail.latitude }}, Lng:{{ trail.longitude }}  <br>
  Length: {{ trail.length }}  <br>
  Elevation Gain: {{ trail.elevation_gain }}  <br>
  Difficulty Rating: {{ trail.difficulty }}  <br>
  Route Type: {{ trail.route_type }}  <br>
  Trail Id: {{ trail.trail_id }}
</p>
{% endblock %}
<!-- The trails link with have a checkbox to make trail summit goal -->