{% extends 'base.html' %}
{% block title %}Trail List{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
  <h1>Trails List</h1>

  <form action="/search-trails" method="GET">
    <label for="search">Search by Trail Name:</label>
    <input type="text" id="search" name="query">
    <button type="submit">Search</button>
  </form>
  </div>


<div class="accordion custom-accordion" id="accordionExample">
<div class="row">
</br>{% for state in state_list: %}
  {% if state in states_trails %}
  <div class="col-4">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ state }}" aria-controls="{{ state }}">
      <h1 class="accordion-title">{{ state }}</h1>
      </button>
    </h2>
    <div id="{{ state }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body custom-body">

      <ul>
        {% for trail in states_trails[state] %}
        <li>
          <a href="/trails/{{ trail.trail_id }}" class="custom-link">
            {{ trail.trail_name }}
          </a>
        </li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
</div>

</div>
{% endblock %}
