{% extends 'base.html' %}

{% block title %}Welcome back {{ user.name.capitalize() }}{% endblock %}

{% block body %}


<div class="container">
  <div class="row">
    Welcome Back! {{ user.name.capitalize() }}
  </div>
  <div class="row">
    <div class="col-7 left">
      <div class="row">
      <h2>Summit Goal</h2>
      {% if training_path.summit_goal %}
        <p>Your current summit goal is: {{ training_path.summit_goal }}</p>
      {% else %}
        <p>You don't have a summit goal set yet.</p>
      {% endif %}
      </div>
      <div class="row training-path">
        <h2>Training Path</h2>
        {% if training_path %}
          <p>Training Path Id: {{ training_path.training_path_id }}</p>
          <p>Summit Goal: {{training_path.summit_goal }}</p>
          <p>Progress Mileage: {{ activity_log_mileage }}</p>
          <p>Any Trail Notes:</p>
          <!-- <p>Training Path Completed: {{ training_path.training_path_completed }}</p> -->
          <p>Completion Percentage: {{ completion_percentage|round(2) }}%</p>
        </div>
    </div>
    <div class="col-5 right">
        <img src="static/images/Humphreys-trail.jpeg" alt="humphreys-trail">
    </div>
  </div>




<div class="row">



  <table class="table">
    <thead>
      <tr>
        <th scope="col">Trail Number</th>
        <th scope="col">Trail Name</th>
        <th scope="col">City Name</th>
        <th scope="col">State Name</th>
        <th scope="col">Location</th>
        <th scope="col">Length</th>
        <th scope="col">Elevation Gain</th>
        <th scope="col">Difficulty Rating</th>
        <th scope="col">Route Type</th>
        <th scope="col">Trail Id</th>
      </tr>
    </thead>
    <tbody>
      {% for trail in training_trails %}
      <tr>
        <th scope="row">{{ trail.training_trails[0].training_trail_id }}</th>
        <td>{{ trail.trail_name }}</td>
        <td>{{ trail.city_name }}</td>
        <td>{{ trail.state_name }}</td>
        <td>Lat:{{ trail.latitude }}, Lng:{{ trail.longitude }}</td>
        <td>{{ trail.length }}</td>
        <td>{{ trail.elevation_gain }}</td>
        <td>{{ trail.difficulty }}</td>
        <td>{{ trail.route_type }}</td>
        <td>{{ trail.trail_id }}</td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>

{% else %}
  <p>You don't have a training path set yet.</p>
{% endif %}

</div>
</div>
{% endblock %}


  <!-- Display summit goal -->
<!-- List the training trails path -->
 <!-- Progression bar -->
  <!-- Ajax request for updating activity_log form -->
   <!-- Hours hiking log -->