{% extends 'base.html' %}

{% block title %}Welcome back {{ user.name.capitalize() }}{% endblock %}

{% block body %}
{{ user.name.capitalize() }}
<ul>
    <li><a href="/trails">View all trails</a></li>
    <li><a href="/activity_log">View Activity Log</a></li>
</ul>

<h2>Summit Goal</h2>
{% if summit_goal %}
  <p>Your current summit goal is: {{ summit_goal }}</p>
{% else %}
  <p>You don't have a summit goal set yet.</p>
{% endif %}

<h2>Training Path</h2>
{% if training_path %}
  <p>Training Path Id: {{ training_path.training_path_id }}</p>
  <p>Summit Goal: {{training_path.summit_goal }}</p>
  <p>Progress Mileage: {{ training_path.progress_mileage }}</p>
  <p>Training Path Completed: {{ training_path.training_path_completed }}</p>
  <p>Completion Percentage: {{ completion_percentage|round(2) }}%</p>



  {% for trail in training_trails %}
    City: {{ trail.city_name }} <br>
    State: {{ trail.state_name }}  <br>
    Location: Lat:{{ trail.latitude }}, Lng:{{ trail.longitude }}  <br>
    Length: {{ trail.length }}  <br>
    Elevation Gain: {{ trail.elevation_gain }}  <br>
    Difficulty Rating: {{ trail.difficulty }}  <br>
    Route Type: {{ trail.route_type }}  <br>
    Trail Id: {{ trail.trail_id }}
  {% endfor %}


{% else %}
  <p>You don't have a training path set yet.</p>
{% endif %}



{% endblock %}


  <!-- Display summit goal -->
<!-- List the training trails path -->
 <!-- Progression bar -->
  <!-- Ajax request for updating activity_log form -->
   <!-- Hours hiking log -->